@{
    ViewBag.Title = "Home Page";
}

<style>
/* Top left text */
.top-r {
  position: absolute;
  top: 8px;
  right: 35px;
  font: caption;
  /*background-color: rgba(0, 0, 0, 0.2);*/
}
</style>

<div class="col-md-12" style="position:relative;">
   <img src="@Url.Content("~/Uploads/home.jpg")" style="width:100%"/>
    
    <div class="top-r">
        <h1> Online Store </h1>
        <p class="lead">The place were everything can be found.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Explore our products</h2>
        <p>
            Welcome to the OS family. With the best products at the best prices, we are sure there is something in our store to suit your style.
        </p>
        <p>@Html.ActionLink("Start shopping...", "Index", "Products")</p>
    </div>
    <div class="col-md-6">
        <h2>Contact us</h2>
        <p>You can always sell with us. Be the first to know about our exclusive offers.</p>
        <p>@Html.ActionLink("Get in touch...", "Contact", "Home")</p>
    </div>
</div>